In [1]:
import pandas as pd
car_name = pd.Series(["BMW","honda","ford"])

In [2]:
car_name

0      BMW
1    honda
2     ford
dtype: object

In [3]:
colors = pd.Series(["blue","red","green"])
colors

0     blue
1      red
2    green
dtype: object

In [4]:
table = pd.DataFrame[{"car":car_name,"colours":colors}]
talble

TypeError: 'type' object is not subscriptable

In [5]:
table

NameError: name 'table' is not defined

In [6]:
table = pd.DataFrame({"car":car_name , "colours":colors})
table

     car colours
0    BMW    blue
1  honda     red
2   ford   green

In [8]:
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [10]:
car_sales.to_csv("test.csv" , index=False)

In [11]:
test=pd.read_csv("test.csv")

In [13]:
test

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

## Describe data

In [1]:
car_sales.dtype

NameError: name 'car_sales' is not defined

In [2]:
car_sales = pd.read_csv("car-sales.csv")

NameError: name 'pd' is not defined

In [3]:
car_sales = pd.read_csv("car-sales.csv")

NameError: name 'pd' is not defined

In [4]:
import pandas as pd
car_sales = pd.read_csv("car-selas.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'car-selas.csv'

In [5]:
car_sales = pd.reead("care-sales.csv")

AttributeError: module 'pandas' has no attribute 'reead'

In [6]:
car_sales = pd.read("care-sales.csv")
car_sales

AttributeError: module 'pandas' has no attribute 'read'

In [7]:
car_sales = pd.read_csv("car-sales.csv")

In [8]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [9]:
car_sales.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [10]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [11]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [12]:
name.index

NameError: name 'name' is not defined

In [13]:
car_sales.name

AttributeError: 'DataFrame' object has no attribute 'name'

In [14]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [15]:
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [16]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [17]:
car_sales.mean()

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [18]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

car_sales.tail()

In [19]:
car_sales.tail()

     Make Colour  Odometer (KM)  Doors      Price
5  Toyota  Green          99213      4  $4,500.00
6   Honda   Blue          45698      4  $7,500.00
7   Honda   Blue          54738      4  $7,000.00
8  Toyota  White          60000      4  $6,250.00
9  Nissan  White          31600      4  $9,700.00

In [20]:
animals = pd.Series(["cat","dog","panda","snale"], index=[2,1,4,2])

In [21]:
animals

2      cat
1      dog
4    panda
2    snale
dtype: object

In [22]:
animals.loc[2]

2      cat
2    snale
dtype: object

In [23]:
animals.iloc[2]

'panda'

In [24]:
car_sales[car_sales.Make == honda]

NameError: name 'honda' is not defined

In [25]:
car_sales[car_sales.Make == "Honda"]

    Make Colour  Odometer (KM)  Doors      Price
1  Honda    Red          87899      4  $5,000.00
6  Honda   Blue          45698      4  $7,500.00
7  Honda   Blue          54738      4  $7,000.00