In [1]:
import pandas as pd
car_name = pd.Series(["BMW","honda","ford"])

In [2]:
car_name

0      BMW
1    honda
2     ford
dtype: object

In [3]:
colors = pd.Series(["blue","red","green"])
colors

0     blue
1      red
2    green
dtype: object

In [4]:
table = pd.DataFrame[{"car":car_name,"colours":colors}]
talble

TypeError: 'type' object is not subscriptable

In [5]:
table

NameError: name 'table' is not defined

In [6]:
table = pd.DataFrame({"car":car_name , "colours":colors})
table

     car colours
0    BMW    blue
1  honda     red
2   ford   green

In [8]:
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [10]:
car_sales.to_csv("test.csv" , index=False)

In [11]:
test=pd.read_csv("test.csv")

In [13]:
test

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00